body{
  font-family: 'Poiret One', cursive;
   margin: 0;
   font-size: 20px;
   height: auto;
}
.navbar-brand{
  font-size: 25px;
  margin-left: 100px;
}
.navbar-nav{
  font-size: 25px;
  margin-right: 100px;
}
.main-content, .main-img{
  position: relative;
}
.main-img{
  opacity: 0.6;
}
.name-project{
   /* padding-top: 100px; */
   margin-top: -530px;
   font-weight: bold;
}
.main p{
   margin-top: 80px;
   font-size: 30px;
}
.marathon-button a{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: white;
   /* background-color: #343a40; */
   background-color: rgb(184, 124, 158);
   border-radius: 15px;
   padding: 15px 45px;
   transition: 0.4s;
   /* box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.644); */
}
.main{
   text-align: center;
   height: 600px;
}

.marathon-button{
   margin-top: 70px;
}
.marathon-button a:hover{
   background-color: rgb(75, 74, 74);
   color: white;
   /* box-shadow: none; */
}

.free{
   background-color: rgb(235, 235, 235);
   height: 500px;
}
.text_1{
   padding-top: 60px;
}
.text_1 p{
   margin-top: 20px;
   font-size: 25px;
   /* font-weight: bold; */
}
.check-list-button a{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: white;
   background-color: rgb(184, 124, 158);
   border-radius: 15px;
   padding: 15px 45px;
   transition: 0.4s;
   /* box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.644); */
}
.check-list-button{
   margin-top: 50px;
}
.check-list-button a:hover{
   background-color: rgb(75, 74, 74);
   color: white;
   /* box-shadow: none; */
}

.podborka{
   background-color: #fff;
   height: 500px;
}
.text_2{
   padding-top: 60px;
}
.text_2 p{
   font-size: 25px;
   margin-top: 20px;
}
.img_1, .img_2{
   margin-top: 20px;
}
.podborka-button a{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: white;
   background-color: rgb(184, 124, 158);
   border-radius: 15px;
   padding: 15px 45px;
   transition: 0.4s;
   /* box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.644); */
}
.podborka-button{
   margin-top: 50px;
}
.podborka-button a:hover{
   background-color: rgb(75, 74, 74);
   color: white;
   /* box-shadow: none; */
}
.programms{
   background-color: rgb(235, 235, 235);
   height: 770px;
   text-align: center;
   padding-top: 50px;
}
.programms img{
   box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.6);
   transition: 0.2s;
}
.programms img:hover{
   transform: scale(1.05);
}
.programms p{
   font-size: 17px;
   font-weight: bold;
}
.programms h3{
  font-weight: bold;
  margin-top: 30px;
}
.pitanie-button a{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: white;
   background-color: rgb(184, 124, 158);
   border-radius: 15px;
   padding: 15px 45px;
   transition: 0.4s;
   /* box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.644); */
}
.pitanie-button{
   margin-top: 55px;
  }
.pitanie_tren-button{
   margin-top: 30px;
}
.pitanie-button a:hover{
   background-color: rgb(75, 74, 74);
   color: white;
   /* box-shadow: none; */
}
.pitanie_tren-button a{
   text-decoration: none;
   font-size: 25px;
   font-weight: bold;
   color: white;
   background-color: rgb(184, 124, 158);
   border-radius: 15px;
   padding: 15px 45px;
   transition: 0.4s;
   /* box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.644); */
}
.pitanie_tren-button a:hover{
   background-color: rgb(75, 74, 74);
   color: white;
   /* box-shadow: none; */
}
.kak_nachatb{
   background-color: #fff;
   height: 500px;
   /* text-align: center; */
   padding-top: 70px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-left: 50px;
   padding-right: 50px;
}
.kak_nachatb p{
   margin-top: 50px;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}
.kak_nachatb img{
   -webkit-filter: drop-shadow(3px 3px 3px #222 );
  filter: drop-shadow(3px 3px 3px #222);
}
.obo_mne{
   background-color: rgb(235, 235, 235);
   height: 500px;
}
.img_10{
   margin-top: 65px;
}
.img_10 img{
   box-shadow: 2px 5px 10px 2px rgba(38, 39, 39, 0.6);
   transition: 0.2s;
}
.img_10 img:hover{
   transform: scale(1.05);
}

.text_obo_mne h1{
   margin-top: 65px;
}
.text_obo_mne p{
   font-size: 27px;
   line-height: 85px;
}

.otzivi-slider{
   background-color: white;
   height: 600px;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
}

footer{
   background-color: rgb(235, 235, 235);
   height: 150px;
   text-align: center;
   font-weight: bold;
   font-size: 25px;
}
.social-block{
  padding-top: 20px;
}
.social-block p{
   margin-top: 0px;
   margin-bottom: 15px;
}
.social-block a{
   display: inline-block;
}
.social-block a img{
   transition: 0.4s;
   opacity: 0.5;
   transform: scale(0.9)
}
.social-block a img:hover{
   /* background-color: rgb(165, 112, 112); */
   opacity: 1;
   transform: scale(1);
}

@media (max-width: 992px){
	.navbar-brand{
    margin-left: 0px;
  }
}
@media (max-width: 509px){
	.name-project{
    margin-top: -480px;
  }
  .main p{
    font-size: 25px;
  }
  .main-img img{
    /* flex-flow: wrap; */
    width: 100%;
  }
  .marathon-button{
    margin-top: 20px;
  }
 .marathon-button a{
  font-size: 20px;
  border-radius: 15px;
  padding: 10px 35px;
  }
}
@media (max-width: 361px){
	.name-project{
    margin-top: -410px;
  }
  .main p{
    font-size: 20px;
    margin-bottom: 0px;
  }
  .marathon-button{
    margin-top: 10px;
  }
  .marathon-button a{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 30px;
    }
} 